In [42]:
import pandas as pd

In [50]:
df = pd.read_csv('wtf.csv')
df.head()

,Unnamed: 0,timestamp,name,team_number,match_number,leave_community,auto_cone_high,auto_cone_mid,auto_cone_low,auto_cube_high,...,tele_cone_low,tele_cube_high,tele_cube_mid,tele_cube_low,tele_balance,defense,num_links,comments,total_points,num_cycles
0,0,1,daniel,1787,1,Yes,2,0,0,0,...,0,3,0,0,balanced,No,5,oeunthoentuhoenthutnoeu,52.0,NaN
1,1,1,ben,1787,2,Yes,0,0,0,0,...,0,0,0,0,none,Yes,1,ontehu,10.0,NaN

In [51]:
df['total_points']

0    52.0
1    10.0
Name: total_points, dtype: float64